* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    font-family: freight-sans-pro, sans-serif;
    font-size: 16px;
    color: #4d4d4d;
    background: #fffdfd;
    border-left: 10px solid #faf2e5;
    border-right: 10px solid #faf2e5;
    -webkit-font-smoothing: antialiased
}

body:after,
body:before {
    content: "";
    position: fixed;
    background: #faf2e5;
    left: 0;
    right: 0;
    height: 10px
}

body:before {
    top: 0
}

body:after {
    bottom: 0
}

#container {
    width: 700px;
    height: 410px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.text,
img {
    float: left
}

.text {
    margin-left: 60px;
    margin-top: 30px;
    max-width: 490px
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 1px
}

p {
    color: #767676;
    font-size: 18px;
    line-height: 1.5em
}

p a {
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    -webkit-transition: border-bottom-color .25s ease;
    transition: border-bottom-color .25s ease;
    color: #eb5d2e
}

p a:hover {
    border-bottom-color: #eb5d2e
}

@media (max-width: 750px) {
    #container {
        width: auto
    }
    img {
        display: none
    }
    .text {
        margin: 0 auto;
        width: 100%;
        float: none;
        text-align: center
    }
}

@media (max-width: 500px) {
    #container {
        position: relative
    }
    p {
        font-size: 20px;
        margin: 1.5em 0
    }
    .text {
        padding: 20px
    }
}

#index p:nth-child(2) a {
    color: #eb5d2e
}

#index p:nth-child(2) a:hover {
    border-bottom-color: #eb5d2e
}

#index p:nth-child(3) a {
    color: #f29c2b
}

#index p:nth-child(3) a:hover {
    border-bottom-color: #f29c2b
}

#index p:nth-child(4) a {
    color: #f5558c
}

#index p:nth-child(4) a:hover {
    border-bottom-color: #f5558c
}

#index p:nth-child(5) a {
    color: #dc67db
}

#index p:nth-child(5) a:hover {
    border-bottom-color: #dc67db
}

#index p:nth-child(6) a {
    color: #9455b1
}

#index p:nth-child(6) a:hover {
    border-bottom-color: #9455b1
}

#about {
    margin-top: -90px
}
